.container {
}

.test {
  background-color: #666;
}

.headings {
  text-align: center;
  margin-bottom: 8vh;
}

.hidden {
  display: none;
}

.hide-modal {
  z-index: -1;
  opacity: 0;
}

.show-modal {
  z-index: 3;
  opacity: 1;
}

.grid-5-cols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  padding: 1.2rem;
}

.grid-4-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 1.2rem;
}

.mt-md {
  margin-top: 2rem;
}

.grid-gap-xs {
  column-gap: 1.2rem;
}

.modal {
  position: fixed;
  /*top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: #fff;
  color: #000;
  width: 60%;
  height: 70%;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2.3rem;
  font-size: 4rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal-header,
.modal-body {
  padding: 2rem;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  transition: 1s;
}
